<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %>
  <br>
  <%= f.label :course %>
  <%= f.text_field :course %>
  <br>
  <%= f.label :cooktime %>
  <%= f.text_field :cooktime %>
  <br>
  <%= f.label :servingsize %>
  <%= f.text_field :servingsize %>
  <br>
  <%= f.label :instructions %>
  <%= f.text_field :instructions %>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <br>
  <div class="input-group">
    <% Ingredient.order(:name).each do |ingredient| %>
      <span class="input-group-addon"><%= ingredient.name %>
      <%= check_box_tag 'recipe[ingredient_ids][]', ingredient.id, ingredient.in?(@recipe.ingredients.to_a), {class: "checkbox inline"} %>
      </span>
    <% end %>
  </div>
  <p><p>
  <%= f.submit  class: "btn btn-primary" %>
<% end %>

