
<ul class="nav nav-pills">
  <li>
    <%= link_to('New Book', new_book_path) %>
  </li>
</ul>

<% @books.each do |book| %>
  <div class="row">
     <div class="span3 offset1">
      <p class="lead"><%= link_to(book.title, book) %></p>
      <p class="text-info"><%= book.cuisine %></p>
      <p class="text-warning"><%= book.chef %></p>
    </div>
    <div class="span8">
      <%= image_tag(book.image) %>
    </div>
  </div>
<% end %>

